.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(8, 10, 12, 0.25);
  background-color: rgb(255, 255, 255);

}

/*  */
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(15, 15, 13, 0.863);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #070b0f34;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #28a745
}

.incorrect {
  background-color: rgb(192, 32, 3);

}

.final-page-score {
  font-size: 5rem;
  font-weight: bold;
}