body {
    background-color: #e4e4e4;
    padding: 3rem;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab',
    serif;



}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;

}

p {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/* BUTTONS */
.btn {
    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 2rem;
    padding: 1rem 1rem;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #02060a27;
    box-shadow: 2px 2px 2px 2px rgb(82, 73, 73);
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: #0f111398;
    background-color: white;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(1, 3, 3, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}